body{
    margin:auto 0;
    padding:0;
    background-image: url(../images/y-so-serious-white.png);
}

header{
    font-family:'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    border-color: #cccccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 480px;
    padding-right: 480px;
    overflow: hidden;
}

li {
    float: left;
}

#nameID{
    display: block;
    background-color: #4AAAA5;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

li a {
    display: block;
    color: #A4A4A4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#mainBody{
    background-color:#ffffff;
    border-color: #dddddd;
    font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
    margin: 50px 480px 20px 480px;
    padding:15px;
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4AAAA5;
}