body{
    margin:0 auto;
    padding:0;
    background-image: url(../images/y-so-serious-white.png);
    color:#777777;
    font-family:'Arial','Helvetica Neue', Helvetica,sans-serif;
    line-height: 1.25;
}

header{
    font-family:'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    border-color: #cccccc;
}

ul {
    list-style-type: none;
    margin: 0px auto 0px auto;
    width:960px;
    padding:0;
    overflow: hidden;
}

li {
    float: right;
}

#nameID{
    display: block;
    background-color: #4AAAA5;
    float:left;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

li a {
    display: block;
    color: #A4A4A4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#mainBody{
    background-color:#ffffff;
    border-color: #dddddd;
    font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
    margin: 30px auto 20px auto;
    width:930px;
    padding:15px;
    padding-top:5px;
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4AAAA5;
}

hr{
    height: 2.5px;
    border-width: 0;
    color: lightgray;
    background-color: lightgray;
    margin-bottom: 20px;
}

.sticky{
    position: sticky;
    background-color: #666666;
    font-size: 10px;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:lightgray;
}

#accent{
    background-color: #4AAAA5;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height:38px;
    font-size:1px;
}

input[type=text], select , textarea{
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

input[type=submit] {
    margin-top:10px;
    background-color: #4AAAA5;
    padding: 8px 32px;
    border:none;
    color:white;
}

.image{
    margin: 10px 20px 10px 0px;
}