body{
    margin:0 auto;
    padding:0;
    background-image: url(../images/JzxPxmO-purple-background-wallpapers.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:#777777;
    font-family:'Arial','Helvetica Neue', Helvetica,sans-serif;
    line-height: 1.25;
}

header{
    font-family:'Georgia', Times, Times New Roman, serif;
    background-color: #AF8EBF;
    border-color: #cccccc;
}

ul {
    list-style-type: none;
    margin: 0px auto 0px auto;
    width:960px;
    padding:0;
    overflow: hidden;
    background-color: #AF8EBF;
}

li {
    float: right;
}

#nameID{
    display: block;
    background-color: #A276B8;
    float:left;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #5B3A6B;
    color:whitesmoke;
}

#mainBody{
    opacity: 0.8;
    background-color:#DECBF2;
    border-color: #dddddd;
    font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
    margin: 30px auto 20px auto;
    width:960px;
    padding:20px;
    padding-top:5px;
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #A276B8;
}

hr{
    height: 2.5px;
    border-width: 0;
    color: #533B6E;
    background-color: #533B6E;
    margin-bottom: 20px;
}

.sticky{
    position: sticky;
    background-color: #666666;
    font-size: 10px;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:lightgray;
    vertical-align: middle;
}

#accent{
    background-color: #A276B8;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height:20px;
    font-size:1px;
}

input[type=text], select , textarea{
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

input[type=submit] {
    margin-top:10px;
    background-color: #A276B8;
    padding: 8px 32px;
    border:none;
    color:white;
}

.image{
    margin: 10px 20px 10px 0px;
}

img{
    width: 250px;
    height: 200px;
}

#filler{
    padding:50px;
    font-size:1px;
}

#message{
    width: 100%;
    height:200px;
}

@media screen and (max-width: 1000px) {
    li {
        float: none;
        width: 100%;
    }

    ul {
        width: 100%;
        margin: auto;
    }

    #nameID {
        margin-bottom: 10px;
    }

    #mainBody {
        width: 90%;
    }
    h1{
        text-align:center;
    }
    #message{
        width:100%;
    }
}


@media screen and (max-width: 750px) {
    .image {
        display: block;
        margin: 10px 20px 10px 0px;
        margin-left: auto;
        margin-right: auto;
    }
}