body{
    margin:auto 0;
    padding:0;
}

label{
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 480px;
    padding-right: 480px;
    overflow: hidden;
    background-color: #ffffff;
    border-color: #cccccc;
}

li {
    float: left;
}

#nameID{
    display: block;
    background-color: #4AAAA5;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    display: block;
    color: #777777;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#mainBody{
    background-color:#ffffff;
    border-color: #dddddd;
}